{{ define "header"}}
    {{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}
    <div class="main-content">
        <!-- Posts and News Index
        ================================================== -->
        <section class="recent-reviews">                      
            <div class="row listrecent">
                {{ $post_paginator := .Paginate (where .Site.RegularPages "Type" "in" site.Params.mainSections) }}
                {{ range $post_paginator.Pages }}
                    {{- partial "list-partials/postbox.html" . -}}
                {{end}}
            </div>
        </section>
        {{- partial "list-partials/pagination.html" $post_paginator -}}
    </div>
    {{ .Content }}
    {{- partial "_shared/social.html" . -}}
    {{- partial "_shared/alertbar.html" . -}}
    
{{ end }}

{{ define "footer"}}
    {{- partial "_shared/jumbotron.html" . -}}
    {{- partial "_shared/footer.html" . -}}
{{ end }}
